<div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">¡Bienvenido a la Aplicación de Inventario!</h1>
      <p class="lead">Esta es una simple aplicación para gestionar categorías y productos.</p>
      <hr class="my-4">
      <p>Puedes comenzar navegando por las secciones de categorías y productos.</p>
      <a class="btn btn-primary btn-lg" href="/categorias" role="button">Ver Categorías</a>
      <a class="btn btn-secondary btn-lg" href="/productos" role="button">Ver Productos</a>
    </div>
</div>
  